.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;

  .title {
    text-align: center;
    p {
      font-size: 1rem;
      font-weight: bold;
      margin: 0;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 2.3rem;
      
    }
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: rgb(35, 35, 35);
    text-align: center;
  }
 
  input[type="text"] {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid rgb(225, 225, 225);
    border-radius: 4px;
   
    outline:none;
    box-shadow: 0px 5px 5px rgba(247, 249, 255, 0.75);
  }

  .answer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    input[type="text"] {
      width: 100%;
    }
    svg {
      cursor: pointer;
      fill:rgb(35, 35, 35);
      margin-left: 20px;
    }
  }
  .addValue {
    font-size: 14px;
    color: rgb(18, 79, 141);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    svg {
      margin-right: 5px;
    }
  }

  input[type="submit"] {
    width: 100%;
    padding: 0.5rem;
    border: none;
    border-radius: 8px;
    background: rgba(18, 53, 141, 0.894);
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    box-shadow: 0px 0px 5px rgba(218, 218, 218, 0.75);
  }


  .answerResponse {
    button {
      text-align: center;
      width: 100%;
      padding: 0.5rem;
      border: none;
      border-radius: 100px;
      background-color: white;
      color: rgb(67, 90, 195);
      cursor: pointer;
      margin-top: 1rem;
      font-size: 1rem;
      outline: none;
      &:hover {
        text-decoration: underline;
      }
    }
    p {
      text-align: center;
      margin-top: 1.5rem;
      margin-bottom: 0px;
    }
  }
}

@media  screen and (max-width: 425px) {
  .main { 
    width: 98%;
    .title {
      h1 {
        font-size: 1.6rem;
      }
      p {
        font-size: 0.8rem;
      }
    }
    h2 {
      font-size: 1rem;
    }
.answerResponse {
  p {
    font-size: 0.8rem;
  }
}
  }
   
} 